.container{
    width: 1300px;
}

.cars1 {
    position: absolute;
    width: 1312px;
    height: 457px;
    left: 100px;
    top: 455px;
    border-radius: 20px;
}

.union img{

}

.menu{

}

.menu1{

}


                             

                
